@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

:root{
    --textsize: 16px;
}

body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #001022;
    font-family: "D2Coding" ,Menlo, Monaco, 'Courier New', monospace;
    color: white;
}

div#editor{
    display: flex;
}

div#AreaNum{
    height: 100vh;
    min-width: calc(var(--textsize) * 4);
    background-color: #002033;
}

div.OneNum{
    padding-top: calc(var(--textsize) * 0.2);
    padding-bottom: calc(var(--textsize) * 0.2);
    width: 100%; height: calc(var(--textsize) * 1.4);    
}

div.OneNum.Selecting{
    height: calc(var(--textsize) * 5.4);
}

div.OneNum.NewLine{
    height: calc(var(--textsize) * 4.4);
}

div.OneNum > div.Num{
    text-align: right;
    font-style: sans-serif;
    color: lightgray;
    display: inline-block;
    width: calc(calc(100% - 4px) - var(--textsize));
    margin-left: 2px;
}

div.OneNum > div.Box{
    float: right;
    width: var(--textsize);
    height: var(--textsize);
    color: gray;
}

div#AreaLine{
    width: 100%;
    height: 100%;
    font-size: var(--textsize);
    padding-left: 10px;
    padding-top: calc(var(--textsize) * 0.2);
    box-sizing: border-box;
    white-space: nowrap;
}

div.OneLine{
    height: 100%; width: 100%;
    user-select: none;
}

div.OneLine > div.LineText{
    height: var(--textsize); font-size: var(--textsize);
    color: white;
}

div.OneLine > div.LineText.Editing{
    height: calc(var(--textsize) * 5);
    font-size: calc(var(--textsize) * 1.5);
    font-family: 'Shadows Into Light';
}

div.OneLine > div.LineSepr{
    height: calc(var(--textsize) * 0.8); width: 100%;
    color: gray;
}

div.OneLine > div.LineSepr.Editing{
    height: calc(var(--textsize) * 3.8);
}

div.LineSepr > canvas{
    position: absolute;
    top: 0;
    left: 0;
    width:  100%;
    height: 100%;
}