body{
    margin: 0;
    padding: 0;
    background-color: darkslategray;
    color: white;
}

div#Oneline{
    height: 30px;
}

div.number{
    float: left;
    width: 48px;
    margin-right: 8px;
    text-align: right;
}

div#textarea{
    display: inline-block;
}

div#text{
    font-size: 16px;
}

div#lineSepr{
    font-size: 16px;
}